http_port: 8080
source_root_path: "./source_root"
hugo_bin_path: "./bin/hugo-extended"
global_theme_path: "./global_theme"
build_temp_root: "./build_temp"
publish_record_path: "./publish_records"
publish_targets_path: "./config/publish_targets"
temp_clean_interval: 24
build_task_timeout: 300
auth:
  admin_username: "admin"
  admin_password: "AtlasDocs_2026!"
  token_expire_hours: 360
s3:
  endpoint: "https://cos.ap-guangzhou.myqcloud.com"
  access_key_id: "AKIDEXAMPLE8Q2M4N7R1T"
  secret_access_key: "exampleSecretKey9kLm2Qv7Px4Hs8Yz"
  default_bucket_name: "atlas-doc-portal-1300012345"
  region: "ap-guangzhou"
  site_public_domain: "docs.atlaslab.example"
  img_cdn_domain: "assets.atlaslab.example"
  img_store_prefix: "book-res/"
  presign_put_expire_min: 15
  cache_html: "max-age=600"
  cache_static: "max-age=86400"
editor_limit:
  max_file_mb: 20
  allow_img_ext: [".png", ".jpg", ".jpeg", ".gif", ".webp"]
