{{- $pages := .Site.RegularPages.ByWeight -}}
{{- $firstDoc := cond (gt (len $pages) 0) (index $pages 0) false -}}
{{- if $firstDoc -}}
  {{- $targetURL := printf "%s%s" $firstDoc.RelPermalink (cond (hasSuffix $firstDoc.RelPermalink "/") "index.html" "/index.html") -}}
  <p class="hx:mt-6 hx:text-sm hx:text-gray-600 hx:dark:text-gray-400">
    正在跳转到第一篇文档：
    <a id="book-first-doc-link" class="hx:font-semibold hx:text-primary-600 hx:underline hx:underline-offset-4" href="{{ $targetURL | safeURL }}">{{ $firstDoc.LinkTitle }}</a>
  </p>
  <script>
    (() => {
      const link = document.getElementById("book-first-doc-link");
      if (link && link.href) window.location.replace(link.href);
    })();
  </script>
{{- else -}}
  <p class="hx:mt-6 hx:text-sm hx:text-gray-600 hx:dark:text-gray-400">当前书本还没有可访问的文档页面。</p>
{{- end -}}
